body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ajusté pour espacer d'une seule ligne */
    align-items: center;
    height: 100vh;
}

.element {
    margin: 1em 0; /* Ajusté l'espacement vertical pour chaque élément à une ligne */
    font-size: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
}

#downloadLink {
    /* Ajouté une règle pour ne pas souligner le lien */
    text-decoration: none;
}

#audioPlayer:focus + #downloadLink {
    display: inline;
}

/* Styles spécifiques pour les appareils mobiles et ordinateurs */
@media only screen and (max-width: 600px) {
    #container {
        padding: 20px;
    }
}
