body {
    margin: 0;
    overflow: hidden; /* Pour éviter les défilements dans la fenêtre du navigateur */
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace; /* Typographie type "terminal" */
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#fileName {
    margin-top: 20px;
    font-size: 18px;
}
